<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- External Style Sheet -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>


    <style>
        #addStudent {
            max-width: 40%;
        }

        #studentTable {
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
            width: 80%;
        }

        #slist_filter {
            margin-bottom: 10px !important;
        }

        .msgalert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #3c763d;
            background-color: #dff0d8;
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        .editdelete {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>

<body class="animated fadeInRight">
    <script>
        $(document).ready(function () {
            $('#slist').DataTable({
                paging: false,
                lengthChange: false,
                responsive: true,
                fixedHeader: true
            });
        });
    </script>

    <div class="wrapper">
        <!-- Header -->
        <header>
            <div style="display:inline">
                <a href="/home/admin_dashboard" style="text-decoration:none">
                    <img src="/img/ESU.png" alt="ESU" width="1305" height="400" class="name" style="vertical-align:middle" />
                    <img src="/img/lion.png" alt="Tasby Lion Logo" width="180" height="236" class="logo" style="vertical-align:middle" />
                </a>
            </div>
        </header>

        <!-- Navigation Bar -->
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/home/admin_dashboard">Home</a>
                    </li>
                    <li>
                        <a href="/home/admin_profile">Admin Profile</a>
                    </li>
                    <li class="active">
                        <a href="/home/admin_studentlist">Student List</a>
                    </li>
                    <li>
                        <a href="/home/admin_contact">Contact</a>
                    </li>
                    <li>
                        <a href="/home/logout">Logout</a>
                    </li>
                    <li class="right">
                        <a href="/home/admin_profile">Welcome! <%=adminData[0].first_name%>&nbsp;
                            <%=adminData[0].last_name%>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Content -->
        <div id="studentTable">
            <form>
                <div class="table-responsive">
                    <table cellspacing="0" class="cell-border hover stripe responsive" style="width:100%" id="slist">
                        <thead style="top:0; background-color:lightgrey;">
                            <tr>
                                <th>Student ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>School</th>
                                <th>Grade</th>
                                <th>Edit / Delete</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center">
                            <% for (var i = 0; i < user.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= user[i].studentId %>
                                    </td>
                                    <td>
                                        <%= user[i].first_name %>
                                    </td>
                                    <td>
                                        <%= user[i].last_name %>
                                    </td>
                                    <td>
                                        <%= user[i].username %>
                                    </td>
                                    <td>
                                        <%= user[i].mobile %>
                                    </td>
                                    <td>
                                        <%= user[i].school %>
                                    </td>
                                    <td>
                                        <%= user[i].grade %>
                                    </td>
                                    <td class="editdelete">
                                        <form id="updateForm" method="post" action="/home/updatestudent">
                                            <input type="hidden" name="sId" value="<%= user[i].studentId %>">
                                            <input type="hidden" name="fName" value="<%= user[i].first_name %>">
                                            <input type="hidden" name="lName" value="<%= user[i].last_name %>">
                                            <input type="hidden" name="email" value="<%= user[i].username %>">
                                            <input type="hidden" name="mobile" value="<%= user[i].mobile %>">
                                            <input type="hidden" name="school" value="<%= user[i].school %>">
                                            <input type="hidden" name="grade" value="<%= user[i].grade %>">
                                            <button type="submit" id="edit<%= i %>">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </form>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <form id="deleteForm" method="post" action="/home/deletestudent">
                                            <input type="hidden" name="sId" value="<%= user[i].studentId %>">
                                            <button type="submit" id="delete<%= i %>">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <br>
        <% if (message.length > 0) { %>
            <div class="msgalert">
                <%= message %>
            </div>
            <% } %>
                <br>
                <div style="margin: 0; text-align: center; margin-bottom: 20px">
                    <a href="/home/addstudent">
                        <button type="button" id="addStudent">Register New Student</button>
                    </a>
                </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div>
            <div class="footer-icons">
                <a href="#facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#github">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <br>
            <div class="footer-copyright">
                <p>
                    Eagle Scholar's University &copy; 2018
                </p>
            </div>
        </div>
    </footer>

</body>

</html>